<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Electronic Store</title>
<link href="" th:href="@{/Css/home-page.css}" rel="stylesheet" />

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
	integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
	crossorigin="anonymous" referrerpolicy="no-referrer" />

<script
	src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>


</head>
<body>



	<!-- Footer  -->
	<div th:fragment="footer">
		<div
			class="container-fluid h-[300px] bg-gray-200 flex px-12 py-4  justify-between">
			<div>
				<h1 class="font-bold py-4 font-serif text-[18px]">About Us.</h1>
				<p class="py-1 font-serif">Minimal E-Commerce is a dynamic and
					innovative</p>
				<p class="py-1 font-serif">online retail platform that offers a
					wide range of</p>
				<p class="py-1 font-serif">products to customers worldwide.</p>
			</div>
			<div>
				<h1 class="font-bold py-4 font-serif text-[18px]">Quick Links</h1>
				<ul>
					<li class="font-serif py-2"><a href="">My Account</a></li>
					<li class="font-serif py-2"><a href="">My Cart</a></li>
					<li class="font-serif py-2"><a href="">Wishlist</a></li>
			</div>
			<div>
				<h1 class="font-bold py-4 font-serif text-[18px]">Information</h1>
				<ul>
					<li class="font-serif py-2"><a href="">About Us</a></li>
					<li class="font-serif py-2"><a href="">Contact</a></li>
					<li class="font-serif py-2"><a href="">FAQ</a></li>
			</div>
			<div>
				<h1 class="font-bold py-4 font-serif text-[18px]">Newsletter</h1>
				<p class="py-1 font-serif">Learn about our most recent news,
					updates, and</p>
				<p class="py-1 font-serif">deals by subscribing.</p>
				<div class="mt-4">
					<input type="text" placeholder="email@example.com"
						class="h-[60px] w-[300px] bg-white text-black border-0" />
					<button
						class="w-[100px] h-[60px] bg-blue-500 text-white font-bold text-center">Subscribe</button>
				</div>

			</div>
		</div>
		<div class="border-1 border-gray-300 bg-gray-200 h-12">
			<h1 class="text-center font-serif py-2">
				<b class="font-bold">Electro</b>. @Created By Suraj & co.
			</h1>
		</div>
	</div>
	<!-- Footer end -->

</body>
</html>